.container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.quiz-section {
  position: absolute;
  left: 0;
  top: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.quiz-section .quiz-box {
  width: 500px;
  background: transparent;
  border: 2px solid #c40094;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  background-color: #09001d;
  opacity: 0;
  animation: scaleUp 1s forwards 1s, moveIn 1s forwards 1s;
}

@keyframes scaleUp {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}

@keyframes moveIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.quiz-section .quiz-box.not-active {
  opacity: 0;
  display: none;
  pointer-events: none;
}

.quiz-section .quiz-box h4 {
  font-size: 25px;
  text-align: center;
  background: linear-gradient(45deg, transparent, #c40094, transparent);
  border-radius: 6px;
}

.quiz-box .quiz-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 2px solid #c40094;
  margin-bottom: 30px;
}

.quiz-header span {
  font-size: 18px;
  font-weight: 500;
}

.quiz-header .header-score {
  background-color: #c40094;
  border-radius: 3px;
  padding: 7px;
}

.quiz-box .question-text {
  font-size: 20px;
  font-weight: 600;
}

.option-list .option {
  width: 100%;
  padding: 12px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  font-size: 17px;
  margin: 15px 0;
  cursor: pointer;
  transition: 0.3s;
}

.option-list .option:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

.option-list .option.correct {
  background-color: #09001d;
  color: #00a63d;
  border-color: #00a63d;
}

.option-list .option.incorrect {
  background-color: #09001d;
  color: #a60045;
  border-color: #a60045;
}

.option-list .option.disabled {
  pointer-events: none;
}

.quiz-box .quiz-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #c40094;
  padding-top: 20px;
  margin-top: 25px;
}

.quiz-footer .question-total {
  font-size: 16px;
  font-weight: 600;
}

.quiz-footer .next-btn {
  width: 100px;
  height: 45px;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
  outline: none;
  border-radius: 6px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.3);
  font-weight: 600;
  cursor: pointer;
  pointer-events: none;
  transition: 0.5s;
}

.quiz-footer .next-btn.active:hover {
  background-color: #950170;
  border-color: #950170;
}

.quiz-footer .next-btn.active {
  pointer-events: auto;
  background-color: #c40094;
  border-color: #c40094;
  color: #fff;
}

.timer-display.active {
  color: red;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.quiz-section .result-box {
  position: absolute;
  top: 50%;
  left: 33%;
  transform: translate(-50%, -50%) scale(0.9);
  width: 500px;
  background: transparent;
  border: 2px solid #c40094;
  border-radius: 6px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
  background-color: #09001d;
  display: none;
}

.quiz-section .result-box.active {
  display: flex;
  opacity: 1;
  pointer-events: auto;
  transform: translate(0%, 7%) scale(1);
}

.result-box h2 {
  font-size: 52px;
}

.result-box .percentage {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 10px;
}

.percentage .progress {
  position: relative;
  width: 250px;
  height: 250px;
  background: conic-gradient(#c40094 3.6deg, rgba(255, 255, 255, 0.1) 0deg);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.percentage .progress::before {
  content: "";
  position: absolute;
  width: 210px;
  height: 210px;
  border-radius: 50%;
  background-color: #09001d;
}

.progress .progress-value {
  position: relative;
  font-size: 45px;
  font-weight: 600;
}

.percentage .score-text {
  font-size: 26px;
  font-weight: 600;
  margin-top: 20px;
}

.result-box .buttons {
  display: flex;
}

.buttons button {
  width: 130px;
  height: 47px;
  background-color: #c40094;
  border: 2px solid #c40094;
  outline: none;
  border-radius: 6px;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  margin: 0 20px 20px;
  cursor: pointer;
  transition: 0.5s;
}

.buttons button:nth-child(1):hover {
  background-color: #950170;
  border-color: #950170;
}

.buttons button:nth-child(2) {
  background: transparent;
  color: #c40094;
}

.buttons button:nth-child(2):hover {
  background-color: #c40094;
  color: #fff;
}

.progress-container {
  width: 100%;
  background-color: #ddd;
  border-radius: 25px;
  overflow: hidden;
  margin-bottom: 8px;
}

.progress-bar {
  width: 0%;
  height: 15px;
  background-color: #c40094;
  border-radius: 25px;
  transition: width 8s ease-out forwards;
}

.high-score-container {
  margin-top: 5px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
